{% extends 'main/loyout.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
<div class="features">
  <h1>Контакты</h1>
  <p>Клиенты Яндекс.Такси ежедневно оформляют множество заказов, как через приложение, так и по телефону. Мы ищем сотрудников, которые будут оперативно принимать...Ты активный пользователь ПК, печатаешь со скоростью от 100 знаков в минуту и знаешь, что такое браузер и для чего...</p>
  <a href="tariffs"><button class="btn btn-warning">Тарифы</button></a>
</div>
{% endblock %}
