body {
  background: #f7f7f7;
}

aside {
  float: left;
  background: #181818;
  width: 22%;
  padding: 2.5%;
  height: 100vh;
  color: #fff;
  border-right: 5px solid #4d4d4d;
}

aside img {
  width: 80px;
  float:left;
}

aside .logo {
  font-size: 40px;
  margin-left: 20px;
  font-weight: bold;
  position: relative;
  top: 7px;
}



aside h3 {
  margin-top: 70px;
  font-size: 28px;
  padding: inherit;
  text-align: center;
}

aside a {
    text-decoration: none;
    color: #fff;
}

aside a:hover {
  color: #fff;
}

aside ul {
  text-align: center;
  list-style: none;
  padding-left: 0px;
}

aside ul a {
  text-decoration: none;
}
aside ul li {
  color: #fff;
  display: block;
  margin-top: 20px;
  transition: .4s ease;
  text-decoration: none;
}

aside ul li:hover, aside ul a:hover {
  color: #ed5959;
  transform: scale(1.08);
  text-decoration: none;
}

main .features {
  float: left;
  text-align: center;
  width: 75%;
  margin-top: 40px;
}

.error-pass {
  text-decoration: none;
  color: black;
  transition: .4s ease;
}

.error-pass:hover {
  color: #ed5959;
  transform: scale(1.2);
  text-decoration: none;
}

.login-btn {
  margin-top: 20px;
}

main .features h1 {
  font-size: 50px;
  margin-bottom: 30px;
}

main .features p {
  max-width: 70%;
  margin: 20px auto;
  font-size: 22px;
}

main .features button {
  font-size: 22px;
  border-radius: 25px;
  padding: 6px 40px;
}

div .alert-warning {
  float: left;
  clear: both;
  width: 400px;
  margin: 20px 34%;
}

form {
  margin: 0 auto;
  width: 500px;
  margin-top: 50px;
}

/* Tariffs */

.products {
  margin: 0 auto;
  margin-top: 60px;
}

.product-count {
  background: #b3fcc6;
  display: inline-block;
  margin-right: 10px;
  border-radius: 16px;
  border: 2px solid #4d945f;
  max-width: 300px;
  padding: 10px 10px 10px 10px;
}

.product-count h2 {
  font-size: 25px;
}

.products .product-count button  {
  background-color: #88c2b4;
  border: 1px solid black;
}
